<table>
  <tr>
    <td class="modifyTableColumn">
        <button class="modifyPositiveButton" type="button" (click)="add(+1)">+1</button>
    </td>
    <td class="modifyTableColumn">
        <button class="modifyPositiveButton" type="button" (click)="add(+5)">+5</button>
    </td>
    <td class="modifyTableColumn">
        <button class="modifyPositiveButton" type="button" (click)="add(+12)">+12</button>
    </td>
  </tr>
  <tr>
    <td class="modifyTableColumn">
        <button class="modifyNegativeButton" type="button" (click)="add(-1)">-1</button>
    </td>
    <td class="modifyTableColumn">
        <button class="modifyNegativeButton" type="button" (click)="add(-5)">-5</button>
    </td>
    <td class="modifyTableColumn">
        <button class="modifyNegativeButton" type="button" (click)="add(-12)">-12</button>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="submitTableColumn">
        <button class="submitButton" type="button" (click)="submit()">Use {{result}} points</button>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="submitTableColumn">
        <button class="submitButton" type="button" (click)="reset()">Reset</button>
    </td>
  </tr>
</table>